@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
}

img {
  filter: saturate(4) hue-rotate(90deg);
}